/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:		Yamaha RD350LCr
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Kilroy ( http://www.rd350lc.de )
    --------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Colours and backgrounds for common.css

Yamaha Colors

white:		#000000ff
dark blue:	#1b3999
light blue:	#315bae
-------------------------------------------------------------- */

:root {
	--color_yam_tank0: #232691;		/* This is the tank base color */
	--color_yam_tank1: #110d65;		/* This is the tank darkest color */
	--color_yam_tank2: #232691;		/* This is the tank lighter color */
	--color_yam_tank3: #179bed;		/* This is the tank lightest color */
	--color_yam_tank4: #fdd913;		/* This is the tank border color */

	--color_yam_faraway_blue: #232691;
	--color_yam_light_blue: #179bed;
	--color_yam_dark_blue: #110d65;
	--color_yam_competition_yellow: #fdd913;
	
	--color_yam_background:  #ACA8A1;

	--gradient_yam_tank: linear-gradient(to bottom, var(--color_yam_faraway_blue) 0%, var(--color_yam_light_blue) 100%);
	--wk_gradient_yam_tank: webkit-linear-gradient(to bottom, var(--color_yam_faraway_blue) 0%, var(--color_yam_light_blue) 100%);
	
}

/* colours.css changes */
html, body {
	background-color: var(--color_yam_background);
}

body.simple {
	min-height: 100%;
	padding: 0 5px;
}

.wrap {
	background-color: var(--color_yam_tank0);
	border: 2px solid var(--color_yam_tank4);
	border-radius: 15px;
	box-shadow: 0 0 5px 2px #9D9A93, inset 0 3px 18px rgba(100, 100, 100, .25);
	margin: 0 auto;
	max-width: 90%;
	padding: 13px 23px;
}

.search-header {
	box-shadow: 0 0 10px #505C65;
}

.headerbar {
	background-color: #7C8891;
	background-image: var(--wk_gradient_yam_tank);
	background-image: var(--gradient_yam_tank);
	background-repeat: repeat-x;
	border-top-color: var(--color_yam_tank2);
	border-bottom-color: var(--color_yam_tank1);
}

.navbar {
	background-color: #DCDEE2;
}

.inner {
	border-top: 3px solid;
	border-top-color: var(--color_yam_tank0);
	border-bottom: 3px solid;
	border-bottom-color: var(--color_yam_tank0);
}

.forabg, .forumbg {
	background-color: var(--color_yam_tank2)%;
	background-image: -webkit-linear-gradient(top, #6ACEFF 0%, #0076B1 2px, #12A3EB 92px, #12A3EB 100%);
	background-image: var(--gradient_yam_tank);
	background-repeat: repeat-x;
}

.copyright a {
	color: #000000 !important;
}

li.row {
	background-color: #E8ECEE;
}

li.row:hover {
	background-color: #EBEFF1;
}

li.row.bg3 {
	background-color: #F0F4F6;
}

li.row.bg3:hover {
	background-color: #F4F8FA;
}

.forumbg .header a, .forabg .header a, th a {
  color: var(--color_yam_tank4);;
}

.site_logo {
	background-image: url("./images/yamaha-yellow-100.png");
	width: 100px;
	height: 100px;
}

.feed {
	background-image: url("./images/feed.svg");
	width: 25px;
	height: 25px;
}

.jumpbox-cat-link {
	background-color: #505C65;
	background-image: -moz-linear-gradient(top, #7C8891 0%, #7C8790 4%, #76828B 10%, #5B666F 29%, #505C65 38%, #505C65 100%);
	background-image: linear-gradient(to bottom, #7C8891 0%, #7C8790 4%, #76828B 10%, #5B666F 29%, #505C65 38%,#505C65 100%);
	background-repeat: repeat-x;
	color: var(--color_yam_tank3);
}

.jumpbox-sub-link {
	background-color: #E8ECEE;
}

/* responsive.css changes */
@media only screen and (max-width: 920px), only screen and (max-device-width: 920px) {
	html, body {
		background-color: #FFF;
	}

	body {
		padding-left: 5px;
		padding-right: 5px;
	}

	#wrap {
		width: 850px;
		padding: 0;
		border-width: 0;
		border-radius: 0;
		box-shadow: none;
	}
}

@media only screen and (max-width: 860px), only screen and (max-device-width: 860px) {
	#wrap {
		width: auto;
	}
}
